.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    /* font-family: "Poppins", sans-serif; */
    font-family: "DM Sans", sans-serif;
  }
  
  .award {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    min-height: 48px;
  }
  .award__p {
    font-size: 15px;
    color: #4b5563;
  }
  .award__images {
    cursor: pointer;
  }
  .award__img {
    position: absolute;
    right: 168px;
    top: 14px;
  }
  
  .wrapp {
    max-width: 1280px;
    /* border: 1px solid red; */
    height: 72px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* header */

  .header{
    background-color: #00353b;
  }

  a {
    color: white;
    font-size: 15px;
    text-decoration: none;
  }

  .header__nav {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .header__card {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .header__btn {
    background-color: #fff;
    padding: 13px 25px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: 16px;
  }

  .header__menu {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .header__menu img {
    width: 25px;
    height: 25px;
  }

  .header__menu a {
    font-size: 17px;
  }

   /* header end*/

  .main {
    background-color: #00353b;
  }

  .section {
    padding: 80px 0;
  }

  .container {
    max-width: 1280px;
    margin: 0 auto;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  .content__info {
  }



  .content__h1 {
    color: #fff;
    font-size: 56px;
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }

  .content__text {
    color: #fff;
    font-size: 18px;
    margin-bottom: 25px;
  }

  .content__button {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 48px;
  }

  .content__btn1 {
    background-color: #22a45a;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 13px 25px;
    color: #fff;
    border-radius: 10px;
  }

  .content__btn2 {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    gap: 8px;
  }

  .content__btn2 p {
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }

  .content__btn2 img {
    width: 25px;
    height: 25px;
  }

  .content__videos {
    width: 600px;
    height: 640px;
  }

  .content__video {
    width: 100%;
  }

  .reviews {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .reviews__images {
    display: flex;
    align-items: center;
  }

  .reviews__img {
  }

  .icon-star-full, 
  .icon-star-half {
    font-size: 26px;
    color: #e0b420;
  }

  .reviews-rating-rat {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
    text-align: center;
  }

  .reviews__rating p {
    color: #fff;
    font-size: 16px;
  }